.events-list {
	&-item{
		margin-bottom: 21px;

		.event-venue{
			font-size: 0.9em;
			font-weight: 100;
			font-style: italic;
		}

		p {
			margin-bottom: 3px;
		}
	}
	// Event Image
	&-image img {
		border: 0 none;
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}

	// Event Title
	&-title {
		margin-bottom: 3px;

		a {
			text-decoration: none;
			padding: 0;
		}
	}
	
	// Event Date
	&-date{
		font-size: 10px;
		font-weight: 300;
	}
}
