.upcoming-events-list {
	&-item {
		display: block;
		margin: 0 0 1rem;
		padding: 0;

		&__title {

			&-text {
				font-size: 1.125rem;
			}
		}
	}

	&-button {
		display: block;
		width: 100%;
		border: 1px solid currentColor;
		padding: 1rem;
		text-align: center;
		text-decoration: none;
		line-height: 1;
	}
}
